
.navbar{
    place-content:flex-end;
    position: fixed;
    top: 0;
    @media screen and (min-width: 1280px){
        left: 90%;
    }
    background-color: transparent;
    padding: 1rem;
    z-index: 10;

    .menu{
        color: #5e7361;
        font-weight: bold;
    }
    .menu:hover{
        color: #565151;
        cursor: pointer;
        font-size: 1.5rem;
        transition: ease .5s;
    }

}
.ant-drawer-content {
    background-color: #5e7361;
    color: #f7f2e6;
    a {
        color: #f7e7bd;
    }
    a:hover {
        color: #d9c6a5;
        font-size: 1rem;
        transition: ease 0.5s;
    }
    a:visited {
        color: #f7f2e6;
    }
}
.put-middle{
    // background-color: #f7e7bd;
    background-color: #f7f2e6;
    .ant-btn{
        border-radius: 5px;
        border: none;
        background-color: #5e7361;
        color: #f7f2e6;
    }

    .home-wrapper{
        height: 100vh;
        position: relative;
        background-image: url("../images/jungle\ foliage.png");
        background-position: center bottom;
        background-size: 100%;
        background-repeat: no-repeat;

        .greeting{
            font-family: 'Signika', sans-serif;
            color: #5e7361;
            font-weight: bold;
            position: relative;
            z-index: 1;
            margin-bottom: 0;
            padding-top: 15%;
            line-height: 12rem;
        }

        .synopsis{
            font-size: 1rem;
            font-weight: bold;
            word-wrap: break-word;
            padding-left: 25%;
            padding-right: 25%;
            position: relative;
            z-index: 3;
            margin-top: 0;
        }

        .socmed-icon-wrapper{
            place-content: flex-start;
            position: fixed;
            z-index: 3;
            top: 70vh;
            padding: 1rem;
            width: 5%;
        }
        .socmed-icon{
            font-size: 2rem;
            padding: .5rem;
            color: #5e7361;
            :hover{
                font-size: 3rem;
                color: #565151;
                transition: ease .8s;
            }
        }

        .cv-btn{
            position: relative;
            z-index: 5;
        }
        @media screen and (min-width: 350px){
            background-size: 220%;
            .greeting{
                font-size: 8rem;
            }
        }
        @media screen and (min-width: 768px){
            background-size: 160%;
            .greeting{
                font-size: 10rem;
            }
        }
        @media screen and (min-width: 1024px){
            background-size:100%;
        }

    }

    .title{
        font-family: 'Signika', sans-serif;
        font-size: 3rem;
        padding-top: 1rem;
    }


    .about-wrapper{
        height: 100vh;
        // background-color: #5e7361;
        background-color: #dde8d3; 
        color: #5e7361;

        h2{
            color: #5e7361;
        }

        .content-wrapper{
            height: 100vh;
            position: relative;
            // top: 5%;
            margin-left: 5%;
            margin-right: 5%;
            padding-top: 3%;
            padding-bottom: 3%;
        }

        .resume-item{
            margin-bottom:2rem;
            p {
                margin-bottom: 0;
            }
            .year{
                background-color: #5e7361;
                margin: .2rem;
                padding-left: 5rem;
                padding-right: 5rem;
                border-radius: 3px;
                padding: .2rem;
                width: 70%;
                text-align: center;
                color: #f7f2e6;
                font-size: .8rem;
                @media screen and (max-width: 1024px){
                    width: 100%;
                    padding-left: 10rem;
                    padding-right: 10rem;
                }
            }
            .role{
                font-size: 1rem;
                font-weight: bold;
            }
        }

        .skill-item{
            padding:.5rem; 
            margin:.2rem; 
            background-color:#5e7361;
            color: #f7f2e6;
            border-radius: 3px;
        }

        .subtitle{
            font-size: 1.5rem;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            color: #5e7361;
        }

        .col-left{
            text-align: left;
            height: 100%;
            border-right: 3px dotted #382c2c;
            padding: 5rem 1.5rem 1.5rem 1.5rem;
        }

        .col-right{
            text-align: left;
            padding: 5rem 1.5rem 1.5rem 1.5rem;
        }

        @media screen and (max-width: 1024px){
            height: 100%;
            .content-wrapper{
                display: block;
                height: 100%;
            }
            .col-left{
                border: none;
                text-align: center;
            }
            .col-right{
                text-align: center;
            }
        }
        @media screen and (max-width: 1280px){
            height: 100%;
            .content-wrapper{
                height: 100%;
            }
        }
    }

    .works-wrapper{
        height: 100vh;
        background-color: #f7f2e6;

        h2{
            color: #5e7361;
        }

        .illustration-img{
            width: 100%;
            place-content: center;
            text-align: center;
            padding-left: 15%;
            padding-right: 15%;
        }
        .illustration-img:hover{
            width: 110%;
            transition: ease 0.5s;
            padding-left: 5%;
        }

        @media screen and (max-width:900px){
            .works-content-wrapper{
                display: block;
            }
            .illustration-wrapper{
                margin-top: 10%;
            }
            height: 100%;
        }
    }

    .contact-wrapper{
        background-color: #5e7361;
        padding: 1rem;
        padding-bottom: .5rem;

        h2{
            color: #f7f2e6;
        }

        .contact-logo-wrapper{
            place-content: center;
        }
        .contact-logo{
            font-size:3rem;
            padding:2rem;
            color: #f7f2e6;
            :hover{
                color:#382c2c;
                font-size: 4rem;
                transition: ease .5s;
            }
        }
    }

}

.ant-modal{
    padding: 1% 5%;
    top: 0;
    border-radius: 3px;
    text-align: center;
    .ant-btn{
        background-color: #5e7361;
        border-radius: 3px;
        border: none;
        color: #f7f2e6;
    }
}
.modal-web{
    .ant-modal-body{
        background-color: #f7f2e6;
        height: 95vh;
    }
    .ant-modal-content{
        background-color: #f7f2e6;
        height: 95vh;
    }
    .ant-carousel{
        height: 95vh;
    }
    .tab-content{
        text-align: center;
    }
    .ant-carousel .slick-dots li.slick-active button {
        background-color: #5e7361;
        height: 5px;
    }
    .ant-carousel .slick-dots li button {
        height: 5px;
        background-color: #9aa79a;
    }
}