.webapp-wrapper{
   
    .webapp-head-wrapper{
        background-color: #f7e7bd;
        height: 100vh;
        position: relative;
        // background-image: url("../images/jungle\ foliage.png");
        // background-position: center bottom;
        // background-size: 100%;
        // background-repeat: no-repeat;
        .home-wrapper{
            place-content:flex-end;
            position: fixed;
            top: 0;
            left: 80%;
            background-color: transparent;
            padding: 1rem;
            z-index: 10;
            .home{
                color: #5e7361;
                font-weight: bold;
                background-color: #f7e7bd;
                border-radius: 5px;
                padding: 0 10%;
                width: 5rem;
            }
            .home:hover{
                color: #565151;
                cursor: pointer;
                font-size: 1.5rem;
                transition: ease .5s;
            }
            @media screen and (max-width: 500px){
                left: 75%;
            }
        }

        .greeting{
            // width: 100%;
            font-family: 'Signika', sans-serif;
            color: #5e7361;
            font-weight: bold;
            position: relative;
            z-index: 1;
            margin-bottom: 0;
            padding-top: 15%;
            line-height: 12rem;
            width: 100%;
        }

        .project-link{
            p{
                font-size: 1rem;
                color: #565151;
                padding: 0 1rem;
                font-weight: bold;
            }
            p:hover{
                color: #5e7361;
                transition: ease-in-out 1s;
                cursor: pointer;
            }
        }

        @media screen and (max-width: 349px){
            .greeting{
                font-size: 4.5rem;
                line-height: 8rem;
            }
            .home-wrapper{
                left: 80%;
                .home{
                    font-size: .8rem;
                }
            }
            .greeting-symbr{
                word-wrap: break-word;
            }
        }
        @media screen and (min-width: 350px){
            .greeting{
                font-size: 6.5rem;
            }
            .home-wrapper{
                left: 80%;
                .home{
                    font-size: .8rem;
                }
            }
            .project-link{
                p{
                    padding: 0 .5rem;
                }
            }
            .greeting-symbr{
                word-wrap: break-word;
            }
        }
        @media screen and (min-width: 768px){
            .greeting{
                font-size: 10rem;
            }
            .home-wrapper{
                left: 80%;
                .home{
                    font-size: 1rem;
                }
            }
        }
        @media screen and (min-width: 1280px){
            .greeting{
                padding-top: 12%;
            }
            .home-wrapper{
                left: 90%;
            }
        }

        .next-project{
            padding: 1rem;
            p {
                text-transform: uppercase;
                font-size: 1rem;
                color: #565151;
            }
            p:hover{
                color: #5e7361;
                cursor: pointer;
            }
        }
    }

    .webapp-desc{
        place-content: flex-start;
        text-align: left;
        padding-left: 5%;
        background-color: #f7e7bd;
        .hHIFHN {
            width: 100%;
            display: grid;
            grid-template-columns: var(--outer-col) repeat(var(--columns),minmax(0,1fr)) var( --outer-col );
            margin: 0px;
        }
        .enQBMk {
            padding-top: 60px;
            opacity: 0;
        }
        .cHsHHK {
            max-width: 380px;
            grid-column: 2 / -2;
        }
        .jVDMgO {
            font-family: Nimbus, sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            color: black;
        }
        .ihmbTr {
            font-family: Nimbus, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: black;
            margin-top: 8px;
        }
    }

    .iframe{
        width: 100%;
        // @media screen and (max-width: 500px){
        //     width: 500px;
        //     height: 250px;
        // }
        // @media screen and (min-width: 800px){
        //     width: 560px;
        //     height: 310px;
        // }
    }

    .project-img-wrapper{
        place-content: center;
        .project-img-top{
            margin-top:"6%"
        }
        .project-img-bottom{
            margin-left: 3%; 
            margin-top: 3%;
        }
        .img-top{
            margin-bottom: 5%;
        }
        @media screen and (max-width: 800px){
            .ant-col-10{
                max-width: 100%;
                flex: 0 0 100%;
            }
            .img-top{
                margin-bottom: 3%;
            }
            .project-img-bottom{
                margin: 0;
            }
            .project-img-top{
                margin: 3% 0;
            }
            .project-img{
                padding: 0 3%;
            }
        }
    }

    .backhome-wrapper{
        background-color: #5e7361;
        p{
            font-family: 'Signika', sans-serif;
            font-size: 3rem;
            text-transform: uppercase;
            color: #f7e7bd;
        }
        p:hover{
            color: #565151;
            transition: ease-in-out 1s;
        }
    }
}