.works-wrapper{

    height: 100vh;
    background-color: #d9c6a5;

    .illustration-img{
        width: 100%;
        place-content: center;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }
}